@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,200&display=swap');




* {
    margin: 0;
    padding: 0;
  
}

body {
    font-family: "Work Sans", sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;

}

 a:hover {
    color: #4682B4;
}

header {
    background-color: #ADD8E6;
    height: 80px;
    width:100%;
}


.headerU {
    margin-left: 160px;
    margin-top: -40px;
}

.headerU .headerL {
    display: inline;
    margin: 25px;
    margin-top: 100px;
    color: white;
}

.img_logo {
    max-width: 140px;
    margin-left: 10px;
}

.back {
    background-image: url(https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 580px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.back .intro_text {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50px,-50px);
        text-align: center;
}

.back .intro_text h1 {
            font-weight: bold;
            color: #4682B4;
            font-size:50px;
       
}

.back .intro_text p{
    font-size:30px;
    line-height:1.8;
}

.show {
   padding-top:60px;
   padding-bottom:60px;
}

.show .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
    grid-gap:500px;
}



.pre1 {
    font-weight: bold;
    font-size:18px;
    color:#777;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 300px;
    padding-bottom: 20px;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}

.pro {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
   
}

.pro .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 50px;
}

.pro .content .text{
    padding:40px;
    margin-top:40px;
    text-align:center;

}
.pro .content p {
        
        color: #777;
}

.pro .content .v{
    padding:40px;
    margin-top:40px
}





.footer {
    background-color: #ADD8E6;
    padding: 30px 0px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

.footer .row {
        width: 100%;
        margin: 10px 0;
        padding: 6px 0;
        color: black;
        font-size: 18px;
}

.footer .row img {
           width:40px;
           margin-left:20px;
}

.footer .row a {
   text-decoration: none;
   color: black;
}

.footer .row a:hover {
        color: #4682B4;
}

      

.footer .row ul li {
   display: inline-block;
   margin: 0px 30px;
}


